<div class = "isf-el_images js--images" id = "{{ modId }}">
	<div class = "isf-el_images__inner">

		{{#each images }}
      <div class = "isf-el_image js--image" {{#if effect }} data-effect = "{{ effect }}" {{/if}}>
        {{#if src }}
          <picture class = "isf-el_picture js--picture">
            <source srcset="{{ src }}"
                media="(min-width: 768px)">
            <img src="{{ src }}" />
          </picture>
        {{/if}}
        {{#if srcalt }}
          <picture class = "isf-el_picture js--picture">
            <img src="{{ src }}" />
          </picture>
        {{/if}}
        {{#if caption }}
          <small class = "isf-el_caption">
            {{ caption }}
          </small>
        {{/if}}
      </div>
    {{/each}}

	</div>
</div>
