<div class = "isf-el_images js--images" id = "{{ modId }}">
	<div class = "isf-el_images__inner">

		{{#each items }}
      <div class = "isf-el_image js--image" {{#if effect }} data-effect = "{{ effect }}" {{/if}}>
        {{#if url }}
          <picture class = "isf-el_picture js--picture">
            <source srcset="{{ url }}"
                media="(min-width: 768px)">
            <img src="{{ url }}" />
          </picture>
        {{/if}}
        {{#if caption }}
          <small class = "isf-el_caption">
            {{ caption }}
          </small>
        {{/if}}
      </div>
    {{/each}}

	</div>
</div>
