

<div class = "isf-el_gallery js--gallery" id = "{{ elementId }}" data-layout = "{{ style }}" data-color_scheme = "{{ colorScheme }}" >
    <div class = "isf-el_gallery--inner js--gallery--inner">
        <div class = "isf-el_gallery__items js--gallery__items">
        {{#each items}}
            {{#if url}}
            <div class = "isf-el_image js--image isf-el_gallery__item js--gallery__item">
                <div class = "isf-el_image--inner js--item--inner">
                    <picture class = "isf-el_picture js--picture">
                        <source srcset="{{ url }}"
                            media="(min-width: 768px)">
                        <img src="{{ url }}" />
                    </picture>
                    {{#if caption}}
                    <small class = "isf-el_caption">
                       {{ caption }}
                    </small>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        {{/each}}
        </div>
    </div>
</div>
